<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    <body>
        
        <%- include('_header'); -%>

        <%- body -%>          <!--this is variable part -->

        <%- include('_footer');  -%>

        <%- script %>


    </body>
</html>